@import "../../assets/styles/Variables";

.btn {
    display: flex;
    padding: $size-12 $size-14;
    justify-content: center;
    align-items: center;
    gap: $size-8;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: $white-100;
    font-size: 1rem;
    font-weight: $font-w-700;
    text-wrap: nowrap;
    white-space: nowrap;
}

.btnFull {
    border-radius: $size-8;
}

.btnRound {
    border-radius: $size-32;
}

.primary {
    background: $orange-100;
    &:hover {
        background: $white-100;
        color: $orange-100;
    }
}

.secondary {
    background: $grey-50;
    &:hover {
        background-color: $white-100;
        color: $black-100;
    }
}
