@import "../assets/styles/Variables";
@import "../components/ChangeCurrency/ChangeCurrency.scss";
@import "../components/Historique/Historique.scss";
.dashboardWrapper {
    padding: 5.3125rem 0 0 0;
    margin: auto;
    max-width: calc(100% - 32px);
    width: $size-1280;
    display: flex;
    gap: $size-20;
    .colored {
        color: $orange-100;
    }
    .dashboard-left {
        width: 65%;
    }
}

.dashboardWrapper > div {
    display: flex;
    gap: $size-20;
    flex-direction: column;
}

.dashboardWrapper > div > div {
    background-color: $white-10;
    padding: $size-24;
    border-radius: $size-8;
    color: $white-100;
}

.dashboardWrapper > .dashboard-left .top {
    padding: 0;
    background-color: transparent;
}

.dashboardWrapper > .dashboard-left .dashboard-top p {
    color: $grey-100;
    font-size: $size-12;
    font-weight: $font-w-400;
    margin: 16px 0 0 0;
}
.dashboardWrapper > .dashboard-left .dashboard-bottom strong {
    font-size: $size-14;
}
.dashboardWrapper > .dashboard-right {
    flex: 2;
}
.dashboardWrapper > .dashboard-right .send {
    display: flex;
    gap: $size-10;
    margin: $size-24 0 0 0;
}
.dashboardWrapper > .dashboard-right .send button {
    font-size: $size-14;
    padding: $size-12 $size-14;
    flex: 1;
    white-space: nowrap;
}
.wallet {
    display: flex;
    justify-content: space-between;
}
.wallet strong {
    font-size: $size-16;
    font-weight: $font-w-700;
}
.wallet p {
    font-size: $size-10;
    font-weight: $font-w-300;
    color: $grey-100;
    margin: $size-4 0 0 0;
}
.piece {
    width: $size-26;
}
.wallet > div:last-child {
    display: flex;
    align-items: center;
    gap: $size-10;
}

.dashboardWrapper > .dashboard-right hr {
    margin: $size-16 auto;
    color: $grey-100;
    opacity: 0.4;
}
.hist {
    display: flex;
    flex-direction: column;
    gap: $size-24;
}
.hist > strong {
    font-size: $size-16;
}
.hist > ul {
    display: flex;
    flex-direction: column;
}
.hist > ul li {
    display: flex;
    justify-content: space-between;
    font-size: $size-12;
    flex: 1;
    padding: $size-10 0;
    border-bottom: 1px solid $grey-10;
}
.hist > ul li:first-of-type {
    border-top: 1px solid $grey-10;
}
.hist > ul li p {
    font-size: $size-10;
    color: $grey-100;
    margin: $size-4 0 0 0;
}
.hist > ul li span {
    color: $orange-100;
    margin: 0 0 0 $size-4;
}
