@import "../../assets/styles/Variables.scss";
.hist {
    display: flex;
    flex-direction: column;
    gap: $size-24;
}
.hist > strong {
    font-size: $size-16;
}
.hist > ul {
    display: flex;
    flex-direction: column;
}
.hist > ul li {
    display: flex;
    justify-content: space-between;
    font-size: $size-12;
    flex: 1;
    padding: $size-10 0;
    border-bottom: 1px solid $grey-10;
}
.hist > ul li:first-of-type {
    border-top: 1px solid $grey-10;
}
.hist > ul li p {
    font-size: $size-10;
    color: $grey-100;
    margin: $size-4 0 0 0;
}
.hist > ul li span {
    color: $orange-100;
    margin: 0 0 0 $size-4;
}
