@import "../../assets/styles/Variables.scss";
.hist {
    display: flex;
    flex-direction: column;
    gap: $size-24;
    height: 100%;
    > strong {
        font-size: $size-16;
    }
    > ul {
        display: flex;
        flex-direction: column;
        li {
            display: flex;
            justify-content: space-between;
            font-size: $size-14;
            flex: 1;
            padding: $size-14 0;
            border-bottom: 1px solid $grey-10;
            &:first-of-type {
                border-top: 1px solid $grey-10;
            }
            p {
                font-size: $size-12;
                color: $grey-100;
            }
            span {
                color: $orange-100;
                margin-left: $size-4;
            }
        }
    }
    .transact {
        display: flex;
        align-items: center;
        gap: $size-16;
        svg {
            display: inline;
        }
        .transact-details,
        .transact-infos {
            display: flex;
            flex-direction: column;
            gap: $size-4;
        }
    }
}
